<% if resource.errors.any? %>
  <% field_order = [:name, :email, :password, :password_confirmation, :user_image] %>
  <% first_field = field_order.find { |f| resource.errors[f].any? } %>
  <% first_message = first_field ? resource.errors.full_messages_for(first_field).first : resource.errors.full_messages.first %>
  <div class="alert alert-error rounded-lg mb-4 text-sm" data-turbo-temporary>
    <%= first_message %>
  </div>
<% end %>
