<% flash_type_map = { "notice" => "success", "alert" => "error", "warning" => "warning", "info" => "info" } %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= flash_type_map[message_type] || "info" %>">
    <%= message %>
  </div>
<% end %>