<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <nav class="flex space-x-10 justify-center">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
    <a class="link link-hover">お問い合わせ</a>
  </nav>
</footer>