<div class="drawer-side">
  <label for="app-drawer" class="drawer-overlay"></label>
  <aside class="min-h-full w-64 bg-base-200 p-4">
    <ul class="menu">
      <li><a>ライブ一覧</a></li>
      <li><a>ログイン</a></li>
      <li><a>新規登録</a></li>
    </ul>
  </aside>
</div>