<div class="container mx-auto px-4 max-w-5xl mt-6">
  <div class="detail-grid">

    <!-- 左：情報 -->
    <div class="detail-main">
      <%= render "post_card",
            post: @post,
            place: @post.place,
            performer_names: @post.performers.map { |p| p.comedian.name } %>

      <div class="flex gap-3 mt-4">
        <%= link_to '← 一覧に戻る', posts_path, class: "btn btn-outline btn-primary" %>

        <% if current_user == @post.user %>
          <%= link_to '編集', edit_post_path(@post), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <!-- 右：画像 -->
    <% if @post.live_poster.attached? %>
      <div class="detail-poster">
        <%= image_tag @post.live_poster %>
      </div>
    <% end %>
  </div>
</div>